
server: 
  port: 8080

logging:
  level:
    org.springframework.web: debug
    # com: off # stops logging of com.* packages

# spring.http.log-request-details=true

spring: 
  jpa: 
    properties: 
      hibernate:  
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate: 
      ddl-auto: update # use this autocreate database if it is embeded
      # show-sql: true
  datasource: 
    url: jdbc:postgresql://localhost:5432/kiosk2
    username: postgres
    password: postgres
    initialization-mode: always
    # initialize: true
    schema: classpath:/schema.sql # THE schema.sql file MUST BE PRESENT
    continue-on-error: true
  http: 
    log-request-details: true

debug: true

# https://medium.com/@asegu/build-your-own-spring-boot-starter-90ad1f426227
# https://medium.com/@asegu/why-a-spring-boot-developer-could-die-without-spring-boot-starter-properties-11c5d6bf459a

api: 
  spankie: 
    url: http://localhost
    from: " Hello World! "
    mylog: true